$primary-font: "Josefin Sans", sans-serif;
$body-font: "Roboto", sans-serif;
$light: #ffffff;
$dark: #000000;
$primary-color-light: #ff6f61;
$primary-color-dark: #ff5645;
$paragraph-color: #444444;
$bg-light: #f1f1f1;
$bg-medium: #f1f3f4;
$bg-dark: #bdbdbd;
$text-color: #11161e;
$dark-hover:#151A32;
